.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 1000px;
    clip-path: polygon(
        0 0,
        0 87%,
        50% 99%,
        100% 87%,
        100% 0
    ); /* как в SVG: площадь элемента — это система координат, три вершины треугольника разделяются запятой — 100% 0, 50% 100%, 0 0, местоположение вершины определяется двумя значениями — 100% 0, первое 100% — положение по горизонтали, второе 0 — положение по вертикали */
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
        url("../images/welcome_background.jpeg");
    background-size: cover;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 5px 20px 5px;
}

.logo {
    margin-left: 40px;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
}

.menu__item {
    margin: 0 30px;
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 206px;
    padding: 0 50px;
    box-sizing: border-box;
}

.slider__arrow {
    width: 45px;
    height: 45px;
    margin-bottom: 74px;
    background-color: #716a65;
    border: none;
    border-radius: 2px;
    opacity: 0.4;
}

.slider-item__subheading {
    margin: 0 0 30px 0;
    font: 400 24px "Source Sans Pro";
    letter-spacing: 1px;
    color: #f4f5f9;
}

.slider-item__heading {
    margin: 0 0 32px 0;
    font: 700 72px/77px "Open Sans";
    letter-spacing: 7px;
    color: #f4f5f9;
    text-transform: uppercase;
}

.slider-item__text {
    max-width: 600px;
    padding: 5px;
    font: 400 14px/24px "Open Sans";
    color: #cbc6c0;
    text-align: center;
}

.slider__item,
.slider-item__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider__item {
    max-width: 800px;
    margin-bottom: 58px;
}

.separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin: 0 0 33px 0;
}

.separator__circle {
    display: inline-block;
}

.separator__line--light {
    width: 80px;
    height: 1px;
    max-width: 200px;
    margin-bottom: 3px;
    background-color: #fff;
    border: none;
}

.separator__circle {
    width: 7px;
    height: 7px;
    border-radius: 3px;
    background-color: #e74c3c;
}

.menu__item--text {
    padding-bottom: 20px;
    font: 400 14px "Open Sans";
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.action_buttons {
    display: flex;
    flex-direction: row;
}

.action_button,
.anchor_button {
    text-transform: uppercase;
    text-align: center;
}

.action_button {
    width: 225px;
    padding: 19px 0;
    font: 700 14px "Open Sans";
    letter-spacing: 0px;
    color: #fff;
    border-radius: 3px;
    filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
    background-color: #e74c3c;
    text-decoration: none;
}

.anchor_button {
    width: 225px;
    padding: 17px 0;
    margin-left: 27px;
    font: 700 14px "Open Sans";
    letter-spacing: 0px;
    color: #fff;
    border: 1px solid #ffffff;
    text-decoration: none;
}

#anchor {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    min-height: 64px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #000;
}

.advantages__container {
    padding: 37px 0;
}

.advantages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.advantage__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage {
    max-width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.advantage__heading {
    font: 600 18px "Open Sans";
    letter-spacing: 2px;
    color: #6a6a6a;
    text-transform: uppercase;
}

.advantage__heading--active {
    color: #e74c3c;
}

.advantage__text {
    font: 300 12px/20px "Source Sans Pro";
    letter-spacing: 1px;
    color: #999999;
    text-align: center;
}

.advantage__separator {
    width: 41px;
    height: 1px;
    background-color: #6a6a6a;
}

/* Effects */

.menu__item--text:hover {
    color: #e74c3c;
    cursor: pointer;
    border-bottom: 1px solid #e74c3c;
}

.slider__arrow:hover {
    cursor: pointer;
    background-color: #e74c3c;
    opacity: 1;
}

.slider__arrow:hover .far {
    color: #fff;
}

.slider__arrow:focus {
    outline: none;
}