.welcome {
    min-height: 800px;
    clip-path: polygon(
        0 0,
        0 90%,
        50% 100%,
        100% 90%,
        100% 0
    ); /* как в SVG: площадь элемента — это система координат, три вершины треугольника разделяются запятой — 100% 0, 50% 100%, 0 0, местоположение вершины определяется двумя значениями — 100% 0, первое 100% — положение по горизонтали, второе 0 — положение по вертикали */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/welcome_background.jpeg");
    background-size: cover;
    text-align: center;
}

.header {
    max-width: 1170px;
    margin: 0 auto;
    padding: 40px 5px 20px 5px;
}

.logo {
    float: left;
    margin-left: 8px;
}

.menu {
    padding: 0;
    float: right;
    list-style-type: none;
}

.menu__item:not(:first-child) {
    margin-left: 55px;
}

.menu__item {
    float: left;
    min-width: 42px;
}

.menu__item--text {
    padding-bottom: 20px;
    font: 400 14px "Open Sans";
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__item--text:hover {
    color: #e74c3c;
    cursor: pointer;
    border-bottom: 1px solid #e74c3c;
}

.slider {
    margin-top: 260px;
    padding: 0 20px;
    clear: both;
}

.slider__item {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0 45px;
}

.slider__arrow {
    width: 45px;
    height: 45px;
    position: relative;
    border-radius: 2px;
    background-image: #716a65;
    border: none;
}

.slider__arrow--backward {
    float: left;
    top: 117px;
    left: 30px;
}

.slider__arrow--forward {
    float: right;
    bottom: 177px;
    right: 4px;
}

.slider-item__header {
    text-align: center;
}

.slider-item__subheading {
    margin: 0;
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #f4f5f9;
    font-weight: 400;
    font-family: "Source Sans Pro";
}

.slider-item__heading {
    margin: 0;
    font-size: 72px;
    letter-spacing: 5px;
    color: #f4f5f9;
    font-weight: 700;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.slider-item__text {
    max-width: 600px;
    padding: 5px;
    margin: 27px 0 0 108px;
    font-size: 14px;
    line-height: 24px;
    color: #cbc6c0;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}

.action_buttons {
    max-width: 490px;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 14px;
    padding-left: 31px;
    clear: both;
}

.action_button,
.anchor_button {
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}

.action_button {
    width: 225px;
    padding: 19px 0;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    border-radius: 3px;
    filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.25));
    background-color: #e74c3c;
    text-decoration: none;
}

.anchor_button {
    width: 225px;
    padding: 17px 0;
    margin-left: 27px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    border: 1px solid #ffffff;
    text-decoration: none;
}

.separator {
    max-width: 200px;
    margin: 28px 0 0 315px;
}

.separator__circle {
    display: inline-block;
}

.separator__line--left {
    float: left;
    margin-right: 15px;
}

.separator__line--right {
    float: right;
    margin-left: 15px;
}

.separator__line--light {
    max-width: 200px;
    margin-bottom: 3px;
    width: 80px;
    height: 1px;
    background-color: #fff;
    border: none;
}

.separator__circle {
    width: 7px;
    height: 7px;
    margin-bottom: 3px;
    border-radius: 3px;
    background-color: #e74c3c;
}

#anchor {
    display: inline-block;
    width: 64px;
    min-height: 64px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #000;
}

/* Effects */

.slider__arrow:hover {
    cursor: pointer;
}

.slider__arrow:focus {
    outline: none;
}

/* Defaults */

.clear {
    clear: both;
}
